# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.bash text eol=lf
*.go text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Web files
*.css text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.svg text eol=lf

# Templates
*.gohtml text eol=lf

# Config files
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
LICENSE text eol=lf
Makefile text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
